**/.DS_Store
*.pyc 
~*
**.gpkg-shm
**.gpkg-wal
**copies

chosen_sites.gpkg
input_geofiles
final_candidate_sites
candidate_sites_filtered
candidate_sites_with_dists
candidate_sites_ref_footprints
pre_processing/input_files
pre_processing/candidate_sites_ref_footprints
